services:
  web:
    build: .
    ports:
      - "8080:80"
    volumes:
      - ./www:/var/www/html
    depends_on:
      - db
  db:
    image: mariadb:latest
    environment:
      MARIADB_DATABASE: rdr_db
      MARIADB_USER: alex
      MARIADB_PASSWORD: 28200255mh
      MARIADB_ROOT_PASSWORD: wasd
    volumes:
      - ./mysql_data:/var/lib/mysql
